@font-face {
  font-family: 'Avenir Next';
  src: url(AvenirNext-Regular.otf);
}
@font-face {
  font-family: 'Avenir Next Bold';
  src: url(AvenirNext-Bold.otf);
}
h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
  font-family: 'Avenir Next Bold';
}
h1 { padding-top: 25px; font-size: 49px; }
h2 { font-size: 32px; }
p, div {
  color: #4A4A4A;
  font-family: 'Avenir Next';
  font-size: 22px;
}
.image-column { text-align: center; }
.container-fluid { padding: 20px 0; }
.grooveshark h2 { display: inline-block; margin-right: 20px;}